.displayContainer,
.settingsContainer {
  display: inline-block;
  width: 100%;
  height: 50%;
  text-align: center;
}

.setting {
  display: inline-block;
  width: 24%;
  height: 25%;
  align-content: center;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
