#center{
    width: 100%;
    height: 100%;
    text-align: center;
}

#board{
    width: 300px;
    height: 300px;
    background-color: rgb(228, 228, 228);
}

.button{
    background-color: rgb(167, 167, 167);
    width: 200px;
    height: 50px;
    display: inline-block;
}

#slot1, #slot2, #slot3{
    margin-top: -4px;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 12px;
}

#slot4, #slot5, #slot6{
    margin-top: -4px;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 112px;
}

#slot7, #slot8, #slot9{
    margin-top: -4px;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 212px;
}

#slot1, #slot4, #slot7{
    left: 40.24%;
}

#slot2, #slot5, #slot8{
    left: 46.75%;
}

#slot3, #slot6, #slot9{
    left: 53.26%;
}

.slot{
    font-size: 30px;
    transition: 200ms;
    background-color: rgba(240, 248, 255, 0);
}


.slot:hover{
    transition: 100ms;
    background-color: rgba(240, 248, 255, 0.87) !important;
}