#center{
    width: 100%;
    height: 100%;
    text-align: center;
}

#board{
    width: 300px;
    height: 300px;
    background-color: rgb(228, 228, 228);
}

.button{
    background-color: rgb(167, 167, 167);
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    align-content: center;
}

.button:hover{
    background-color: rgb(199, 199, 199);
}

#slot1, #slot2, #slot3{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    left: 610px;
    top:-304px;
}

#slot4, #slot5, #slot6{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    left: 610px;
    top:-308px;
}

#slot7, #slot8, #slot9{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    left: 610px;
    top:-312px;
}

#slot1, #slot4, #slot7{
    
}

#slot2, #slot5, #slot8{
    
}

#slot3, #slot6, #slot9{
    
}

.slot{
    font-size: 30px;
    transition: 200ms;
    background-color: rgba(223, 100, 29, 0.281);
    /*background-color: rgba(240, 248, 255, 0);*/
}

.slot:hover{
    transition: 100ms;
    background-color: rgba(240, 248, 255, 0.87) !important;
}

#slotContainer{
    width: 300px;
    height: 300px;
    margin-right: 0;
}

.score{
    background-color: rgb(167, 167, 167);
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-top: 40px;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}